/*UNIVERSAL & RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}

html {
    font-size: 10px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 3.6rem;
    padding-block: 3.2rem 2.4rem;
    text-align: center;
}

h3 {
    font-size: 2.6rem;
}

h1 {
    font-size: 4.6rem;
}

/*COMMON*/

#intro,
#info {
    padding: 3.2rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

#intro figure,
#info article,
#exhibit-details article {
    flex: 1 1 60%;
}

#intro header,
#info aside,
#exhibit-details aside {
    flex: 1 1 40%;
}

/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.6rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;  
}

#logo img {
    width: 4.4rem;
}

#brand-name {
    font-size: 2.4rem;
    text-transform: uppercase;
}

#logo span {
    font-size: inherit;
    font-weight: 800;
}

/*INTRO*/

#intro p {
    font-size: 2.5rem;
    padding-block: 2rem;
}

#intro button {
    border: none;
    padding-block: 1rem;
    width: 100%;
}

/*INFO*/

#info {
    align-items: flex-start;
}

.info-tile {
    display: flex;
    align-items: center;
}

.info-tile-text {
    padding-block: 1.6rem;
}

#info h2 {
    text-align: left;
}

#info aside img {
    max-width: 35%;
    padding: 0 1.6rem 1.6rem 0;
}

#info-txt {
    font-size: 2rem;
    padding-bottom: 3.2rem;
}

/*LEARNING*/

#learning {
    padding: 3.2rem;
}

#courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.2rem;
}

.course-tile {
    max-width: 532px;
}

.course-tile figcaption {
    padding: 1.6rem;
}

.course-details {
    text-transform: uppercase;
    padding-block: 1.6rem;
}

/*EXHIBIT*/

#exhibit {
    padding: 3.2rem 2.4rem;
}

#exhibit blockquote {
    margin-top: 0.8rem;
}

#exhibit-details {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
}

#exhibit video {
    max-width: 100%;
    margin-bottom: 2.4rem;
}

.exhibit-tile {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.exhibit-tile-text {
    padding-top: 1.6rem;
}

.exhibit-tile img {
    max-width: 35%;
    padding-right: 1.6rem;
}

/*FOOTER*/

footer {
    padding: 1.6rem 2.4rem;
    border-top: 1px solid hsl(0, 0%, 11%);
}

footer a {
    float: right;
    padding-inline: 1rem;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1165px) {
    .course-tile {
        max-width: 40%;
    }

    .info-tile-text {
        padding-block: 0.8rem;
    }
}

@media only screen and (max-width: 950px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 740px) {
    #intro,
    #info,
    #exhibit-details {
        flex-direction: column;
    }    
}

@media only screen and (max-width: 570px) {
    #brand-name {
        display: none;
    }
    
    .course-tile {
        max-width: 100%;
    }
}