/*UNIVERSAL & RESET*/

:root {
    --primary: hsl(250, 50%, 60%);
    --secondary: hsl(150, 40%, 50%);
    --accent: hsl(283, 23%, 41%);
    --background: hsl(275, 40%, 40%);
    --text: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    color: var(--text);
    font-family: 'Nunito Sans', Verdana, Tahoma, sans-serif;
}

html {
    font-size: 10px;
    background-color: var(--background);
    scroll-behavior: smooth;
    scroll-padding-top: 6.4rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.7rem;
}

h2 {
    font-size: 3.6rem;
    padding-block: 3.2rem 2.4rem;
    text-align: center;
}

h3 {
    font-size: 2.6rem;
}

h1 {
    font-size: 4.6rem;
}

p {
    opacity: 0.95;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-out;
}

a:hover {
    opacity: 0.9;
}

li:last-child a {
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    background-color: var(--accent);
}

li:last-child a:hover {
    box-shadow: 2px 2px 2px hsla(0, 0%, 5%, 0.7);
}


/*COMMON*/

h1, h2, h3 {
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
}

#intro,
#info {
    padding: 3.2rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

#intro figure,
#info article,
#exhibit-details article {
    flex: 1 1 60%;
}

#intro header,
#info aside,
#exhibit-details aside {
    flex: 1 1 40%;
}

.course-tile,
.info-tile,
.exhibit-tile {
    background-color: var(--background);
    border-radius: 1rem;
    border: 0.3rem solid var(--accent);
}


/*NAVBAR*/

nav {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    padding-inline: 2.4rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.6rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;  
}

#logo img {
    width: 4.4rem;
}

#brand-name {
    font-size: 2.4rem;
    text-transform: uppercase;
}

#logo span {
    font-size: inherit;
    font-weight: 800;
}

/*INTRO*/

#intro {
    margin-top: 6.4rem;
}

#intro p {
    font-size: 2.5rem;
    padding-block: 2rem;
}

#intro button {
    border: none;
    padding-block: 1rem;
    width: 100%;
    background-color: var(--primary);
    border-radius: 1rem;
    transition: all 0.3s ease-out;
}

#intro button:hover {
    box-shadow: 2px 2px 4px hsla(0, 0%, 5%, 0.7);
}

/*INFO*/

#info {
    align-items: flex-start;
    background-color: var(--primary);
}

.info-tile {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.info-tile:not(:last-child) {
    margin-bottom: 1.6rem;
}

.info-tile-text {
    padding-block: 1.6rem;
}

#info h2 {
    text-align: left;
}

#info aside img {
    max-width: 35%;
}

#info-txt {
    font-size: 2rem;
    padding-bottom: 3.2rem;
}

/*LEARNING*/

#learning {
    padding: 3.2rem;
    background-color: var(--secondary);
}

#courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.2rem;
}

.course-tile {
    max-width: 532px;
}

.course-tile figcaption {
    padding: 1.6rem;
}

.course-details {
    text-transform: uppercase;
    padding-block: 1.6rem;
}

/*EXHIBIT*/

#exhibit {
    padding: 3.2rem 2.4rem;
    background-color: var(--primary);
}

#exhibit blockquote {
    margin-top: 0.8rem;
}

#exhibit-details {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
}

#exhibit video {
    max-width: 100%;
    margin-bottom: 2.4rem;
    border-radius: 0.7rem;
}

.exhibit-tile {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.exhibit-tile-text {
    padding-top: 1.6rem;
}

.exhibit-tile img {
    max-width: 35%;
    padding-right: 1.6rem;
}

/*FOOTER*/

footer {
    background-color: var(--background);   
    padding: 1.6rem 2.4rem;
    border-top: 0.3rem solid var(--accent);
}

footer a {
    float: right;
    padding-inline: 1rem;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1165px) {
    .course-tile {
        max-width: 40%;
    }

    .info-tile-text {
        padding-block: 0.8rem;
    }
}

@media only screen and (max-width: 950px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 740px) {
    #intro,
    #info,
    #exhibit-details {
        flex-direction: column;
    }    
}

@media only screen and (max-width: 570px) {
    #brand-name {
        display: none;
    }
    
    .course-tile {
        max-width: 100%;
    }
}